body {
  background-color: #dbdbdb;
  background-image: url("https://www.transparenttextures.com/patterns/batthern.png");
}

#header {
  padding: 3em;
}

#forms {
  margin: auto;
}

#forms input {
  width: 350px
}

#form button {
  margin: auto;
}

#results {
  padding: 30px;
}
